html {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  font-family: Arial;
  height: 100%;
  width: 100%;
  font-size: 20px;
}

div#landing {
  background-image: url("bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  height: 100%;
  width: 100%;
}

div#landing img {
  height: 175px;
  position: absolute;
  right: 50px;
  top: 0;
}

div#maintitle {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  color: rgb(250, 82, 82);
  margin: auto;
  width: 500px;

}

div#maintitle div.textarea {
  background-color: white;
  padding: 20px;
  margin-bottom: 20px;
}

div#maintitle div.titletext {
  font-size: 70px;
  font-weight: bold;
}

div#maintitle a {
  text-decoration: none;
  color: rgb(256, 256, 256);
  background-color: rgb(250, 82, 82);
  padding: 5px;
  width: 200px;
  border-radius: 5px;
}

div#maintitle a:first-of-type {
  margin-left: 15px;
  float: left;
}

div#maintitle a:nth-of-type(2) {
  margin-right: 15px;
  float: right;
}

div#secondary {
  background-color: rgb(250, 82, 82);
  color: rgb(256, 256, 256);
  padding: 30px 50px 30px 50px;
  text-align: center;
}

div#secondary div.title, div#sponsor div.title {
  font-size: 48px;
}

div#secondary div.description {
  padding: 20px;
  line-height: 30px;
}

div#schedule {
  height: 100%;
  width: 100%;
  background-image: url("bg2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  text-align: center;
  padding-top: 75px;
}

div#schedule div.title {
  margin: auto;
  width: 250px;
  font-size: 48px;
  background-color: rgb(256, 256, 256);
  color: rgb(250, 82, 82);
  margin-bottom: 50px;
}

div#schedule div.container {
  padding: 20px;
  color:  rgb(250, 82, 82);
  background-color: rgb(256, 256, 256);
  margin: auto;
  opacity: 0.8;
}

div.cell {
  height: 40px;
}

div.titlecell {
  font-weight: bold;
  padding-bottom: 10px;
}

div.time, div.desc {
  float: left;
  width: 50%;
}

div.card {
  padding: 20px;
  text-align: left;
}

div.col-md-4 div.question {
  font-weight: bold;
}

div#sponsor {
  color: rgb(250, 82, 82);
  background-color: rgb(256, 256, 256);
  padding: 30px 50px 30px 50px;
  text-align: center;
}
